<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Demo Web App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta name="_csrf" id="_csrf" th:content="${_csrf.token}"/>
 	<meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
	<!-- Navbar -->
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<a class="navbar-brand text-light" th:href="@{/todos}">Demo App</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link text-light btn btn-primary" th:href="@{/todos/create}">Create Todo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a th:href="@{/info}" class="btn btn-primary text-light nav-link">User Information</a></li>
					<li class="nav-item"><form th:action="@{/logout}" method="POST"><input type="submit" class="btn btn-primary text-light nav-link" value="Sign Out"></form></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<!-- User Info Card -->
	<div class="container mt-4">
		<div class="col-md-8 offset-md-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Your Information</h5>
					<div class="ml-auto">
						<a class="btn btn-outline-success" th:href="@{/info/update}">Update Information</a>
					</div>
				</div>
				<div class="card-body">
					First Name: <span th:text="${firstname}"></span> <br>
					Last Name: <span th:text="${lastname}"></span> <br>
					Email: <span th:text="${email}"></span> <br>
					Phone: <span th:text="${phoneNumber}"></span> (<span th:text="${phoneType}"></span>) <br>
					Address: <span th:text="${street}"></span> <span th:text="${city}"></span>, <span th:text="${state}"></span> <span th:text="${zipCode}"></span> <br>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>