<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Demo Web App - Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<div class="col-md-8 offset-md-2">
			<form th:action="@{/process}" th:method="post">
				<div th:if="${registrationSuccessMessage != null}" class="alert alert-success">
					<span th:text="${registrationSuccessMessage}"></span>
				</div>
				<div class="card">
					<div class="card-title">
						<h5 class="card-header display-4">Sign In</h5>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" name="username" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control">
						</div>
					</div>
					<div class="card-footer">
						<div class="d-flex flex-row justify-content-between">
							<button type="submit" class="btn btn-outline-success">Sign In</button>
							<a th:href="@{/register}" class="btn btn-outline-info">Register</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script src="https://unpkg.com/@elastic/apm-rum@4.6.0/dist/bundles/elastic-apm-rum.umd.min.js" crossorigin></script>-->
<!--<script>-->
<!--	elasticApm.init({-->
<!--		serviceName: 'Demo App Client',-->
<!--		serverUrl: 'http://localhost:8200',-->
<!--	})-->
<!--</script>-->
</body>
</html>
