<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Demo Web App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta name="_csrf" id="_csrf" th:content="${_csrf.token}"/>
 	<meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
	<!-- Navbar -->
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<a class="navbar-brand text-light" th:href="@{/todos}">Demo App</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link text-light btn btn-primary" th:href="@{/todos/create}">Create Todo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a th:href="@{/info}" class="btn btn-primary text-light nav-link">User Information</a></li>
					<li class="nav-item"><form th:action="@{/logout}" method="POST"><input type="submit" class="btn btn-primary text-light nav-link" value="Sign Out"></form></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<!-- Create Todo Form -->
	<div class="container mt-4">
		<form th:action="@{/todos}" th:method="POST" th:object="${todo}">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Create Todo</h5>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="title">Title</label>
						<input autofocus type="text" name="title" class="form-control" required th:field="*{title}">
					</div>
					<div class="form-group">
						<label for="body">Body</label>
						<input type="text" name="body" class="form-control" required th:field="*{body}">
					</div>
				</div>
				<div class="card-footer">
					<input type="submit" class="btn btn-outline-danger" value="Submit">
				</div>
			</div>
		</form>
	</div>
</body>